<h1>筆記列表</h1>

<%= link_to "新增筆記", new_note_path %>

<ul>
    <% @notes.each do |note| %>
    <li>
        <%= link_to note.title, note_path(note) %>
        <%= link_to "編輯", edit_note_path(note) %>
		<%= link_to "刪除", note_path(note), method: 'delete', data: { confirm: '確定嗎？', id: note.id } %>    
    </li>
    
    <!-- render collection -->
    <% end %>
</ul>

<%#= @notes %>


<%#= @note.title,@note.title %>

<!-- html link 要放在哪？ -->

<!-- 沒有加等號只是不會被渲染出 -->

<%#= link_to note.title, note_path(note) %>
<%#= link_to note.title, note %>
<%#= link_to note.title, note_path(note.id) %>
<!-- 叫google爬蟲不要跟過來 
<a rel="nofollow" data-method="delete" href="/notes/1">刪除</a>
-->
<!-- SPA = single page application -->
<!-- SSR = server-side renderer -->
<!-- rails turbolink 在背後默默的擾資料回來 紅寶鐵軌客-->