<h1>筆記列表</h1>

<%= link_to "新增筆記", new_note_path %>

<ol>
    <% @note.each do |note| %>
    <li><%= link_to note.title, note_path(note.id) %></li>
    <% end %>
</ol>




<%#= @note.title,@note.title %>



